{% extends "account/base.html" %}
{% load i18n %}


    <!-- ################################################################### -->
    <!-- ## META ATTRIBUTES                                               ## -->
    <!-- ################################################################### -->
    {% block head_title %}{{ block.super }} | {% trans "Change Password" %}{% endblock %}

    <!-- ################################################################### -->
    <!-- ## MAIN CONTENT SECTION                                          ## -->
    <!-- ################################################################### -->
    {% block content %}
    <div class="block block-secondary">
      <div class="container">
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="text-uppercase">{% trans "Change Password" %}</h2>
            <p>{% trans 'Your password is now changed.' %}</p>


          </div>

        </div>
      </div>
    </div>

    {% endblock %}
