{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


    <!-- ################################################################### -->
    <!-- ## META ATTRIBUTES                                               ## -->
    <!-- ################################################################### -->
    {% block head_title %}{{ block.super }} | {% trans "Set Password" %}{% endblock %}

    <!-- ################################################################### -->
    <!-- ## MAIN CONTENT SECTION                                          ## -->
    <!-- ################################################################### -->
    {% block content %}
    <div class="block block-secondary">
      <div class="container">
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="text-uppercase">{% trans "Set Password" %}</h2>
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>


          </div>

        </div>
      </div>
    </div>

    {% endblock %}
