{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


    <!-- ################################################################### -->
    <!-- ## META ATTRIBUTES                                               ## -->
    <!-- ################################################################### -->
    {% block head_title %}{{ block.super }} | {% trans "Change Password" %}{% endblock %}

    <!-- ################################################################### -->
    <!-- ## MAIN CONTENT SECTION                                          ## -->
    <!-- ################################################################### -->
    {% block content %}
    <div class="block block-secondary">
      <div class="container">
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="text-uppercase">{% trans "Change Password" %}</h2>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|cripsy }}
                <button type="submit" name="action" class="btn btn-success">{% trans "Change Password" %}</button>
            </form>


          </div>

        </div>
      </div>
    </div>

    {% endblock %}
