{% extends "account/base.html" %}
{% load i18n %}


    <!-- ################################################################### -->
    <!-- ## META ATTRIBUTES                                               ## -->
    <!-- ################################################################### -->
    {% block head_title %}{{ block.super }} | {% trans "Sign Up Closed" %}{% endblock %}

    <!-- ################################################################### -->
    <!-- ## MAIN CONTENT SECTION                                          ## -->
    <!-- ################################################################### -->
    {% block content %}
    <div class="block block-secondary">
      <div class="container">
        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="text-uppercase">{% trans "Sign Up Closed" %}</h2>
            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>


          </div>

        </div>
      </div>
    </div>

    {% endblock %}
