<div class="card ks-card-widget ks-widget-payment-card-rate-details">
  <h5 class="card-header">Twitter 30 Day Statistics</h5>
  <div class="card-block">
    <table class="table ks-payment-card-rate-details-table">
      <tr>
        <td class="ks-currency">Known Recruiters Watching*</td>
        <td class="ks-amount">{{ recruiters_watching }}</td>
      </tr>
      <tr>
        <td class="ks-currency">Known Recruiters Following*</td>
        <td class="ks-amount">{{ recruiters_following }}</td>
      </tr>
      <tr>
        <td class="ks-currency">Followers</td>
        <td class="ks-amount">{{ followers }}</td>
      </tr>
      <tr>
        <td class="ks-currency">Following</td>
        <td class="ks-amount">{{ following }}</td>
      </tr>
      <tr>
        <td class="ks-currency">Total Tweets</td>
        <td class="ks-amount">{{ total_tweets }}</td>
      </tr>
      <tr>
        <td class="ks-currency">Total Replies</td>
        <td class="ks-amount">{{ total_replies }}</td>
      </tr>
      <tr>
        <td class="ks-currency">Retweets</td>
        <td class="ks-amount">{{ total_retweets }}</td>
      </tr>
    </table>
  </div>
</div>
