{% load wagtailcore_tags %}
{% load static %}


    <!-- ################################################################### -->
    <!-- ## FEATURE COMPANIES SECTION                                     ## -->
    <!-- ################################################################### -->
    <div class="block app-ribbon py-5">
      <div class="container text-xs-center">
        <h6 class="text-muted text-uppercase mb-2">Learn how RadHR is helping:</h6>
        <!-- <img src="{% static 'img/logos/logo-eclicks.png' %}" height="25px" width="97px"> -->
        <img src="{% static 'img/logos/logo-calibre300.png' %}">
      </div>
    </div>
