{% load wagtailcore_tags %}
{% load static %}


    <!-- ################################################################### -->
    <!-- ## FOOTER SECTION                                                ## -->
    <!-- ################################################################### -->
    <div class="block app-footer">
     <div class="container">
        <div class="row">
          <div class="col-md-5 mb-5">
            <ul class="list-unstyled list-spaced">
              <li class="mb-2"><h6 class="text-uppercase">About</h6></li>
              <li class="text-muted">RadHR isn't simply another Applicant Tracking System (HR-ATS) - We think of it as: A combination of open source data feeds, refined machine learning data algorithms and years of recruitment knowledge poured into an experience designed to alert you when key staff are looking to move.</li>
            </ul>
          </div>
          <div class="col-md-2 offset-md-1 mb-5">
            <ul class="list-unstyled list-spaced">
              <li class="mb-2"><h6 class="text-uppercase">Product</h6></li>
              <li class="text-muted"><a class="footer-link" href="/">Home</a></li>
              <li class="text-muted">About</li>
              <li class="text-muted">Pricing</li>
              <li class="text-muted">Contact</li>
            </ul>
          </div>
          <div class="col-md-2 mb-5">
            <ul class="list-unstyled list-spaced">
              <li class="mb-2"><h6 class="text-uppercase">Company</h6></li>
              <li class="text-muted">Careers</li>
              <li class="text-muted">APIs</li>
              <li class="text-muted">Blog</li>
              <li class="text-muted">Social</li>
            </ul>
          </div>
          <div class="col-md-2 mb-5">
            <ul class="list-unstyled list-spaced">
              <li class="mb-2"><h6 class="text-uppercase">Legals</h6></li>
              <li class="text-muted">Terms &amp; Conditions</li>
              <li class="text-muted">Privacy Policy</li>
              <li class="text-muted">Data Policy</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="app-footerlight">
      <div class="container">
        <div class="row">

          <div class="col-md-6">
            <p class="text-muted">Proudly made with <i class="la la-heart pulse"></i> in Melbourne, Australia.</p>
          </div>

          <div class="col-md-6">
            <p class="text-muted float-sm-left float-md-right">Copyright © 2017 RadHR.</p>
          </div>

        </div>
      </div>
    </div>
